<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.patileremama">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Patileremama"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".UserSide.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".UserSide.AddToBucketActivity"
            android:exported="false" />
        <activity
            android:name=".UserSide.BucketActivity"
            android:exported="false" />
        <activity
            android:name=".UserSide.OtherBoxesActivity"
            android:exported="false" />
        <activity
            android:name=".authorized.PaymentsActivity"
            android:exported="false" />
        <activity
            android:name=".authorized.AuthProductDetail"
            android:exported="false" />
        <activity
            android:name=".authorized.AuthorizedProduct"
            android:exported="false" />
        <activity
            android:name=".authorized.AuthorizedCategory"
            android:exported="false" />
        <activity
            android:name=".UserSide.MyBoxActivity"
            android:exported="false" />
        <activity
            android:name=".UserSide.ProductDetailActivity"
            android:exported="false" />
        <activity
            android:name=".UserSide.ProductActivity"
            android:exported="false" />
        <activity
            android:name=".UserSide.CategoryActivity"
            android:exported="false" />
        <activity
            android:name=".UserSide.MoneyBoxActivity"
            android:exported="false" />
        <activity
            android:name=".UserSide.UserRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".UserSide.UserLoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>